.FormWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    text-align: left;
}

.Title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 25px;
    font-size: 30px;
    margin-top: 20px;
}

.FormWrapper p {
    margin: 0 0 10px;
}

.LoginForm {

}

.FormGroup {
    margin-bottom: 15px;
}

.FormControl {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-top: 25px;
}

.LinkContainer {
    margin-top: 15px;
    text-align: left;
}

.LinkContainer a {
    margin-top: 5px;
    color: #337ab7;
    text-decoration: none;
}