.EditWrapper {
    margin-left: 20%;
    margin-right: 20%;
}


.Title {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 25px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}