.Header {
    width: 100%;
    padding: 0 60px;
    height: 50px;
    font-size: 1.15em;
    background: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}