.UserProfile {
    width: 30%;
    border: 1px solid #fff;
    background: #fafafa;
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    border-radius: 4px;
    margin-top: 100px;
    text-align: center;
}

.UserProfileName {
    padding-bottom: 10px;
    font-size: 18px;
}

.UserProfileEmail {
    font-size: 18px;
}

.UserProfile a {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
}

.flash {
    position: relative;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #3c763d;
    transition: opacity 0.15s linear;
}

.close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    background-color: transparent;
}
